body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    height: 100vh;
}

/* LEFT */
.login-left {
    width: 50%;
    padding: 60px;
    background: #f5f7fa;
}

.logo {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    color: gray;
    margin-bottom: 30px;
}

.login-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.demo-text {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

/* RIGHT */
.login-right {
    width: 50%;
    color: white;
    padding: 60px;
    background: linear-gradient(to right, #4f46e5, #7c3aed);
}

.login-right h1 {
    font-size: 32px;
}

.login-right ul {
    margin-top: 30px;
}